<div class="modal fade" id="modal-edit-form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="Modal-header">Edit this appointment</h2>
        <h4 class="modal-title" id="myModalLabel"></h4>
      </div>
      <div class="modal-body">
            <%= simple_form_for task, html: { id: 'modal-labels' } do |f| %>
              <% if task.errors.any? %>
                <div class="errors-container">
                  <ul>
                    <% task.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                    <% end %>
                  </ul>
                </div>
              <% end %>

            <!-- Temporary anot not needed -->
              <% f.hidden_field :goal_id, value: params[:goal] %>
              <% f.hidden_field :user_id, value: params[:user] %>
            <!-- Temporary and note needed -->

              <%= f.input :title %>
              <%= f.input :start, as: :date, html5: true %>
              <%= f.input :address %>
              <%= f.input :details %>
              <%= f.input :completed %>
              <%= f.button :submit, "Edit task", class: "btn btn-success submit" %>
            <% end %>
        </div>
    </div>
  </div>
</div>
