<%= simple_form_for task do |f| %>
  <% if task.errors.any? %>
    <div class="errors-container">
      <ul>
        <% task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<!-- Temporary and not needed -->
  <% f.hidden_field :goal_id, value: params[:goal] %>
  <% f.hidden_field :user_id, value: params[:user] %>
  <% f.hidden_field  :user, as: :select, collection: current_user.goals.map { |g| [g.name, g.id] } %>
  <% f.hidden_field :title %>
  <% f.hidden_field :deadline, as: :datetime, html5: true %>


<!-- Temporary and note needed -->

  <%= task.title %>
  <%= f.input :start, as: :datetime, html5: true %>
  <%= f.input :deadline, as: :datetime, html5: true %>
  
  <%= f.input :address %>
  <%= f.input :details %>
  <%= f.button :submit %>

<% end %>





