<%
  colours = {
    "Medical" => "#ccaa50",
    "Legal" => "#4DA1A4",
    "Employment" => "#71140C"
  }
%>


<%= simple_form_for task do |f| %>
  <% if task.errors.any? %>
    <div class="errors-container">
      <ul>
        <% task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<!-- Temporary and not needed -->
  <% f.hidden_field :goal_id, value: params[:goal] %>
  <% f.hidden_field :user_id, value: params[:user] %>
  <% f.hidden_field  :user, as: :select, collection: current_user.goals.map { |g| [g.name, g.id] } %>
  <% f.hidden_field :title %>
  <% f.hidden_field :deadline, as: :datetime, html5: true %>


  <h4 style="color: <%= colours[task.goal.category.name] %>" ><%= task.title %></h4>
  <%= f.input :start, label: 'Scheduled Time', as: :datetime, html5: true, input_html: { class: 'underline' } %>
  <p> Schedule task by <%= task.deadline.strftime("%A, %B %-d") %> </p><br>
  <%= f.input :address, label: 'Location', input_html: { class: 'underline' } %>
  <%= f.input :details, input_html: { class: 'underline' } %>
  <%= f.button :submit %>

<% end %>





