<div class="grid">
  <div class="client-banner"><h1>Calendar</h1></div>

  <div class="calendar-container">
    <div class="calendar">
      <%= render "shared/calendar", {date: @date, tasks: @tasks} %>
    </div>
  </div>

  <div class="calendar-appointment-container">
    <div class="calendar-banner"><%= Time.now %></div>
    <%= render "goals/goals-appointment-card" %>
    <%= render "goals/goals-appointment-card" %>
    <%= render "goals/goals-appointment-card" %>
    <%= render "goals/goals-appointment-card" %>
    <%= render "goals/goals-appointment-card" %>
  </div>

  <%= render 'shared/client-controller' %>
</div>

