<div class="grid">
  <div class="client-banner"><h1>Calendar</h1></div>

  <div class="calendar-container">
    <div class="calendar">
      <%= render "shared/calendar", {date: @date, tasks: @tasks} %>
    </div>
  </div>

  <div class="calendar-appointment-container">
    <div class="calendar-banner"><%= Time.now %></div>
    <%= render "goals/goals-appointment-card" %>
    <%= render "goals/goals-appointment-card" %>
    <%= render "goals/goals-appointment-card" %>
    <%= render "goals/goals-appointment-card" %>
    <%= render "goals/goals-appointment-card" %>

    <!-- TEMPORARY CODE -->
    <button style="height:120px;padding: 50px;"class="btn btn-success"><%= link_to("Map view", map_tasks_path(@tasks.first) ) %></button>
    <!-- TEMPORARY CODE -->


  </div>

  <%= render 'shared/client-controller' %>
</div>

