 <div class="agent-grid">
  <%= render "shared/agent-banner" %>

  <div class="agent-container compressed">
    <%= render "shared/calendar", {tasks: @tasks, date: @date } %>
  </div>

  <div class="sidebar">
    <i id="close" class="far fa-times-circle"></i>
    <% if @daily_tasks.present? %>
    <!-- Input all client information into task bar -->
      <% @daily_tasks.each do |task| %>
        <!-- Render client avatar in Task Header-->
        <div class="task-header">
          <% if task.user.avatar.present? %>
            <img src="<%= task.user.avatar %>">
          <% elsif task.user.photo.present? %>
            <img src="<%= task.user.photo %>">
          <% else  %>
            <i class="far fa-user-circle"></i>
          <% end %>
          <h4><%= task.title %></h4>
        </div>
        <!-- Render Task Details -->
        <div class="task-details">
          <p><strong id="bold"> Client Name: </strong><%= task.user.first_name%> <%= task.user.last_name %></p>
          <p><strong id="bold"> Category: </strong><%= task.goal.name %></p>
          <p><strong id="bold"> Location: </strong><%= task.address %></p>
          <p><strong id="bold"> Deadline: </strong><%= task.deadline %></p>
          <p><strong id="bold"> Description: </strong><%= task.details %></p>
          <p><strong id="bold"> Attachments: <%= task.records.size %></strong></p>
        </div>
        <div class="task-controls">
          <p><%= link_to("Edit This Appointment", edit_task_path(task, month: @current_month, user: task.user, goal: task.goal)) %></p>
          <p><%= link_to("Delete This Appointment", task_path(task), method: :delete) %></p>
        </div>
      <% end %>
    <% else %>
      <p>You have no appointments on this date</p>
      <p href="#"><a> Create an appointment.</a></p>
    <% end %>
  </div>
</div>

<script>
  const calendar = document.querySelector('.agent-container');
  const sidebar = document.querySelector('.sidebar');
  const quit = document.getElementById('close');

  quit.addEventListener("click", function() {
    calendar.classList.toggle('compressed');
    sidebar.classList.toggle('hidden');
  })

  document.querySelectorAll('.calendar-day').forEach((day) => {
    day.addEventListener("click", function() {
      const appointment = day.innerText;
      if (!(calendar.classList.value.includes("compressed"))) {
        calendar.classList.toggle('compressed');
        sidebar.classList.toggle('hidden');
      }
    });
  });
  // all date divs respond to click event
  // upon click the date event will reveal a side pop-up window
  // inside the date event, it will load all events on that day
  // the pop up window will resize the calendar and popup window layout
</script>

