<% if controller_name == "tasks"%>
  <div class="sidebar">
    <div class="top-controller">
      <%= link_to(tasks_path) do %>
        <i class="fas fa-calendar"></i>
      <% end %>
      <%= link_to(clients_path) do %>
        <i class="fas fa-user-alt"></i>
      <% end %>
    </div>
    <i id="close" class="far fa-times-circle"></i>
    <h1> <%= @date.strftime("%-d %B")%> </h1>
    <% if @daily_tasks.present? %>
    <!-- Input all client information into task bar -->
      <% @daily_tasks.each do |task| %>
        <!-- Render client avatar in Task Header-->
        <div class="task-header">
          <% if task.user.avatar.present? %>
            <img src="<%= task.user.avatar %>">
          <% elsif task.user.photo.present? %>
            <img src="<%= task.user.photo %>">
          <% else  %>
            <i class="far fa-user-circle"></i>
          <% end %>
          <h4><%= task.title %></h4>
        </div>
        <!-- Render Task Details -->
        <div class="task-details">
          <p><strong id="bold"> Client Name: </strong><%= task.user.first_name%> <%= task.user.last_name %></p>
          <p><strong id="bold"> Category: </strong><%= task.goal.name %></p>
          <p><strong id="bold"> Location: </strong><%= task.address %></p>
          <p><strong id="bold"> Deadline: </strong><%= task.deadline %></p>
          <p><strong id="bold"> Description: </strong><%= task.details %></p>
          <p><strong id="bold"> Attachments: <%= task.records.size %></strong></p>
        </div>
        <div class="task-controls">
          <p><%= link_to("Edit This Appointment", edit_task_path(task, month: @current_month, user: task.user, goal: task.goal)) %></p>
          <p><%= link_to("Delete This Appointment", task_path(task), method: :delete) %></p>
        </div>
      <% end %>
    <% else %>
      <p>You have no appointments on this date</p>
      <p href="#"><a> Create an appointment.</a></p>
    <% end %>
  </div>
<% elsif controller_name == "clients" && controller.action_name == "show" %>

  <div class="sidebar">
    <div class="top-controller">
      <%= link_to(clients_path) do  %>
        <i class="fas fa-arrow-left"></i>
      <% end %>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
        <i id="close" class="far fa-times-circle"></i>
    </div>
    <!-- Input all client information into task bar -->
    <!-- Render client avatar in Task Header-->
    <div class="task-header">
      <% if @user.avatar.present? %>
        <img src="<%= @user.avatar %>">
      <% elsif @user.photo.present? %>
        <img src="<%= @user.photo %>">
      <% else  %>
        <i class="far fa-user-circle"></i>
      <% end %>
      <h4><%= @user.full_name %></h4>
    </div>
    <!-- Render Task Details -->
    <!-- Only show the div if there are unscheduled tasks -->
    <div class="task-details">
      <% if @user.tasks.where(start: nil).count.zero? %>
        <p><%= "#{@user.name}'s tasks are fully scheduled." %></p>
      <% elsif @user.tasks.where(start: nil).count == 1 %>
        <p><%= "1 task left to schedule" %><p>
      <% else %>
        <p><%= "#{@user.tasks.where(start: nil).count} tasks left to schedule" %></p>
      <% end %>
    </div>
    <% @user.goals.each do |goal| %>

      <h2><%= goal.name %></h2>

      <% goal.tasks.each do |task| %>
        <div class= "user-card">
          <% if task.start.nil? %>
            <%= render "tasks/new-task", task: task %>
          <% else %>
            <div class="task-details">
              <p><strong id="bold"> Title: </strong><%= task.title %></p>
              <p><strong id="bold"> Location: </strong><%= task.address %></p>
              <p><strong id="bold"> Deadline: </strong><%= task.deadline %></p>
              <p><strong id="bold"> Description: </strong><%= task.details %></p>
              <p><strong id="bold"> Attachments: <%= task.records.size %></strong></p>
              <a href="" data-toggle="modal" data-target="#modal-edit-form">Edit This Appointment</a>
              <%= render "tasks/edit-tasks", task: task %>
              <p><%= link_to("Edit This Task", edit_task_path(task)) %></p>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
<% else controller_name == "clients"%>
  <div class="sidebar">
    <div class="top-controller">
      <%= link_to(tasks_path) do %>
        <i class="fas fa-calendar"></i>
      <% end %>
      <%= link_to(clients_path) do %>
        <i class="fas fa-user-alt"></i>
      <% end %>
    </div>
    <i id="close" class="far fa-times-circle"></i>
    <!-- Input all client information into task bar -->
    <% if @users.present? %>
      <% @users.each do |user| %>
        <!-- Render client avatar in Task Header-->
        <div class="user-card">
          <div class="task-header">
            <%= link_to client_path(user) do %>
              <% if user.avatar.present? %>
                <img src="<%= user.avatar %>">
              <% elsif user.photo.present? %>
                <img src="<%= user.photo %>">
              <% else  %>
                <i class="far fa-user-circle"></i>
              <% end %>
              <h4><%= user.full_name %></h4>
            <% end %>
          </div>
          <!-- Render Task Details -->
          <div class="task-details">
            <p><strong id="bold"> Age: </strong><%= user.age %></p>
            <p><strong id="bold"> Nationality: </strong><%= user.nationality %></p>
            <p><strong id="bold"> Language: </strong><%= user.language %></p>
            <p><strong id="bold"> Address: <%= user.address %></strong></p>
          </div>
          <div class="task-controls">
            <p><%= count_uncompleted_tasks(user) %></p>
            <p><%= count_unsheduled_tasks(user) %></p>
            <p><%= link_to("View Client Profile", client_path(user)) %></p>
          </div>
        </div>
      <% end %>
    <% else %>
      <p>You have no clients!</p>
      <p href="#"><a> Create a new client profile.</a></p>
    <% end %>
  </div>
<% end %>
