<%
  colours = {
    "Medical" => "#ccaa50",
    "Legal" => "#4DA1A4",
    "Employment" => "#71140C"
  }
%>


<% if controller_name == "tasks"%>
  <div class="sidebar">
    <div class="top-controller">
      <i id="close" class="far fa-times-circle"></i>
      

      <%= link_to task_path(@date.day, date: @date) do %> 
        <i class="fas fa-calendar"></i>
      <% end %>
      <%= link_to(clients_path) do %>
        <i class="fas fa-user-alt"></i>
      <% end %>
    </div>
    <h3 style="text-align: center;"> <%= @date.strftime("%-d %B")%> </h3>
    <% if @daily_tasks.present? %>
    <!-- Input all client information into task bar -->
      <% @daily_tasks.each do |task| %>
        <!-- Render client avatar in Task Header-->
        <div class="task-container" style="border-left: 5px solid <%= colours[task.goal.category.name] %>; ">
          <div class="task-header">
            <%= link_to client_path(task.user) do %>
              <% if task.user.avatar.present? %>
                <img src="<%= task.user.avatar %>">
              <% elsif task.user.photo.present? %>
                <img src="<%= task.user.photo %>">
              <% else  %>
                <i class="far fa-user-circle"></i>
              <% end %>
              <h4><%= task.title %></h4>
              
            <% end %>
          
                <a id="modal-link" href="" data-toggle="modal" data-target="#modal-edit-form"> <i class="far fa-edit"></i></a>
                <%= render "tasks/edit-tasks", task: task %>
          </div>
              
          <!-- Render Task Details -->
          <div class="task-details">
            <table>
              <tr>
                <td id="bold"><p>Category: </p> </td>
                <td><p><%= task.goal.name.capitalize %></p> </td>
              </tr>
              <tr>
                <td id="bold"><p> Location:</p> </td>
                <td><p><%= task.address %></p> </td>
              </tr>
              <tr>
                <td id="bold"><p> Deadline:</p> </td>
                <td><p><%= task.deadline.strftime("%A, %B %-d, %l:%M %p") %></p> </td>
              </tr>
              <tr>
                <td id="bold"><p> Description:</p> </td>
                <td><p><%= task.details %></p> </td>
              </tr>
              <tr>
                <td id="bold"><p> Attachments:</p> </td>
                <td><p><%= task.records.size %></p> </td>
              </tr>
            </table>
          </div>
        </div>
      <% end %>
    <% else %>
      <p>You have no appointments on this date</p>
    <% end %>
  </div>
<% elsif controller_name == "clients" && controller.action_name == "show" %>

  <div class="sidebar">
    <div class="top-controller">
      <%= link_to(clients_path) do  %>
        <i class="fas fa-arrow-left"></i>
      <% end %>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
        <i id="close" class="far fa-times-circle"></i>
    </div>
    <!-- Input all client information into task bar -->
    <!-- Render client avatar in Task Header-->
    <div class="task-header">
      <% if @user.avatar.present? %>
        <img src="<%= @user.avatar %>">
      <% elsif @user.photo.present? %>
        <img src="<%= @user.photo %>">
      <% else  %>
        <i class="far fa-user-circle"></i>
      <% end %>
      <h4><%= @user.full_name %></h4>
    </div>
    <!-- Render Task Details -->
   
    <!-- Only show the div if there are unscheduled tasks -->


    <% @user.goals.each do |goal| %>

      <h2 style="color: <%= colours[goal.category.name] %>;"><%= goal.name.capitalize %> Tasks</h2>

      <% goal.tasks.each do |task| %>
        <% task_time = task.start.nil? ? task.deadline : task.start %>
      <% if task_time.to_date == @date.to_date %>
        <div class= "user-card" style="border: 3px solid <%= colours[goal.category.name] %>;">
      <% else %>
        <div class= "user-card">
      <% end %>
          <% if task.start.nil? %>
            <p>Unscheduled task</p>
            <%= render "tasks/new-task", task: task %>
          <% else %>
            <% if task.completed %>
              <p>Completed task</p>
            <% else %>
              <p>Scheduled, future task</p>
            <% end %>

            <div class="task-details">

              <h4 style="color: <%= colours[task.goal.category.name] %>" ><%= task.title %></h4>
              <table>
              
              <tr>
                <td id="bold"><p> Location:</p> </td>
                <td><p><%= task.address %></p> </td>
              </tr>
              <tr>
                <td id="bold"><p> Time:</p> </td>
                <td><p><%= task.start.strftime("%A, %B %-d, %l:%M %p") %></p> </td>
              </tr>
              <tr>
                <td id="bold"><p> Deadline:</p> </td>
                <td><p><%= task.deadline.strftime("%A, %B %-d, %l:%M %p") %></p> </td>
              </tr>
              <tr>
                <td id="bold"><p> Description:</p> </td>
                <td><p><%= task.details %></p> </td>
              </tr>
              <tr>
                <td id="bold"><p> Attachments:</p> </td>
                <td><p><%= task.records.size %></p> </td>
              </tr>
              <tr>

                <a id="modal-link" href="" data-toggle="modal" data-target="#modal-edit-form">Edit This Appointment</a>
                <%= render "tasks/edit-tasks", task: task %>
              </tr>
            </table>

            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
<% else controller_name == "clients"%>
  <div class="sidebar">
    <div class="top-controller">
      <i id="close" class="far fa-times-circle"></i>
      <%= link_to task_path(@date.day, date: @date) do %> 
        <i class="fas fa-calendar"></i>
      <% end %>
      <%= link_to(clients_path) do %>
        <i class="fas fa-user-alt"></i>
      <% end %>
    </div>
    <!-- Input all client information into task bar -->
    <% if @users.present? %>
      <% @users.reverse_each do |user| %>
        <!-- Render client avatar in Task Header-->
        <div class="user-card">
          <div class="task-header">
            <% if user.avatar.present? %>
              <img src="<%= user.avatar %>">
            <% elsif user.photo.present? %>
              <img src="<%= user.photo %>">
            <% else  %>
              <i style="position: relative; right: 0; bottom: 0; font-size: px; margin-right: 6px" class="far fa-user-circle"></i>
            <% end %>
            <%= link_to client_path(user) do %>
              <h4 style="color: black;"><%= user.full_name %></h4>
            <% end %>
          </div>
          <!-- Render Task Details -->
          <div class="task-details">
            <p><strong id="bold"> Age: </strong><%= user.age %></p>
            <p><strong id="bold"> Nationality: </strong><%= user.nationality %></p>
            <p><strong id="bold"> Language: </strong><%= user.language %></p>
            <p><strong id="bold"> Address: <%= user.address %></strong></p>
          </div>
          <div class="task-controls">
            <p><%= count_uncompleted_tasks(user) %></p>
            <p><%= count_unsheduled_tasks(user) %></p>
            <p><%= link_to("View Client Profile", client_path(user)) %></p>
          </div>
        </div>
      <% end %>
    <% else %>
      <p>You have no clients!</p>
      <p href="#"><a> Create a new client profile.</a></p>
    <% end %>
  </div>
<% end %>
