<% if controller_name == "tasks"%>
  <div class="sidebar">
    <div class="top-controller">
      <%= link_to(tasks_path) do %>
        <i class="fas fa-calendar"></i>
      <% end %>
      <%= link_to(clients_path) do %>
        <i class="fas fa-user-alt"></i>
      <% end %>
    </div>
    <i id="close" class="far fa-times-circle"></i>
    <% if @daily_tasks.present? %>
    <!-- Input all client information into task bar -->
      <% @daily_tasks.each do |task| %>
        <!-- Render client avatar in Task Header-->
        <div class="task-header">
          <% if task.user.avatar.present? %>
            <img src="<%= task.user.avatar %>">
          <% elsif task.user.photo.present? %>
            <img src="<%= task.user.photo %>">
          <% else  %>
            <i class="far fa-user-circle"></i>
          <% end %>
          <h4><%= task.title %></h4>
        </div>
        <!-- Render Task Details -->
        <div class="task-details">
          <p><strong id="bold"> Client Name: </strong><%= task.user.first_name%> <%= task.user.last_name %></p>
          <p><strong id="bold"> Category: </strong><%= task.goal.name %></p>
          <p><strong id="bold"> Location: </strong><%= task.address %></p>
          <p><strong id="bold"> Deadline: </strong><%= task.deadline %></p>
          <p><strong id="bold"> Description: </strong><%= task.details %></p>
          <p><strong id="bold"> Attachments: <%= task.records.size %></strong></p>
        </div>
        <div class="task-controls">
          <p><%= link_to("Edit This Appointment", edit_task_path(task, month: @current_month, user: task.user, goal: task.goal)) %></p>
          <p><%= link_to("Delete This Appointment", task_path(task), method: :delete) %></p>
        </div>
      <% end %>
    <% else %>
      <p>You have no appointments on this date</p>
      <p href="#"><a> Create an appointment.</a></p>
    <% end %>
  </div>
<% elsif controller_name == "clients" && controller.action_name == "show" %>
  <div class="sidebar">
    <div class="top-controller">
      <%= link_to(clients_path) do  %>
        <i class="fas fa-arrow-left"></i>
      <% end %>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
    <i id="close" class="far fa-times-circle"></i>
    <!-- Input all client information into task bar -->
    <!-- Render client avatar in Task Header-->
    <div class="task-header">
      <% if @user.avatar.present? %>
        <img src="<%= @user.avatar %>">
      <% elsif @user.photo.present? %>
        <img src="<%= @user.photo %>">
      <% else  %>
        <i class="far fa-user-circle"></i>
      <% end %>
      <h4><%= @user.full_name %></h4>
    </div>
    <!-- Render Task Details -->
    <!-- Only show the div if there are unscheduled tasks -->
    <% unless @user.tasks.select(&:deadline).include?(nil) %>
      <div class="task-details">
      <p>No unscheduled tasks... Good job!</p>
      </div>
    <% end %>
    <% @user.tasks.each do |task| %>
      <% if task.deadline.nil? %>
        <div class="task-details">
          <p><strong id="bold"> Title: </strong><%= task.title %></p>
          <p><strong id="bold"> Category: </strong><%= task.goal.name %></p>
          <p><strong id="bold"> Location: </strong><%= task.address %></p>
          <p><strong id="bold"> Deadline: </strong><%= task.deadline %></p>
          <p><strong id="bold"> Description: </strong><%= task.details %></p>
          <p><strong id="bold"> Attachments: <%= task.records.size %></strong></p>
          <p><%= link_to("Edit This Task", edit_task_path(task)) %></p>
        </div>
      <% end %>
  <% end %>
  </div>
<% else controller_name == "clients"%>
  <div class="sidebar">
    <div class="top-controller">
      <%= link_to(tasks_path) do %>
        <i class="fas fa-calendar"></i>
      <% end %>
      <%= link_to(clients_path) do %>
        <i class="fas fa-user-alt"></i>
      <% end %>
    </div>
    <i id="close" class="far fa-times-circle"></i>
    <!-- Input all client information into task bar -->
    <% if @users.present? %>
      <% @users.reverse_each do |user| %>
        <!-- Render client avatar in Task Header-->
        <div class="task-header">
          <% if user.avatar.present? %>
            <img src="<%= user.avatar %>">
          <% elsif user.photo.present? %>
            <img src="<%= user.photo %>">
          <% else  %>
            <i class="far fa-user-circle"></i>
          <% end %>
          <h4><%= user.full_name %></h4>
        </div>
        <!-- Render Task Details -->
        <div class="task-details">
          <p><strong id="bold"> Age: </strong><%= user.age %></p>
          <p><strong id="bold"> Nationality: </strong><%= user.nationality %></p>
          <p><strong id="bold"> Language: </strong><%= user.language %></p>
          <p><strong id="bold"> Address: <%= user.address %></strong></p>
        </div>
        <div class="task-controls">
          <p><%= link_to("See Unscheduled Tasks", client_path(user.id)) %></p>
          <p><%= link_to("View Client Profile", goal_path(user)) %></p>
        </div>
      <% end %>
    <% else %>
      <p>You have no clients!</p>
      <p href="#"><a> Create a new client profile.</a></p>
    <% end %>
  </div>
<% end %>
