<% if @alerts.size > 0 %>
  <div class="alert-number">
    <p><%= @alerts.size %></p>
  </div>
<% end %>
<div class="notifications-title hidden">
  <span>Name</span>
  <span>Details</span>
  <span>Status</span>
</div>
<div class="notifications-bar hidden">
  <% @alerts.each do |alert| %>
    <div class="alert-bubble">
      <% if alert.user.avatar.present? %>
        <img id="problem-<%= alert.problem %>" src="<%= alert.user.avatar %>">
      <% elsif alert.user.photo.present? %>
        <img id="problem-<%= alert.problem %>" src="<%= alert.user.photo %>">
      <% else  %>
        <i id="problem-<%= alert.problem %>" class="far fa-user-circle"></i>
      <% end %>
      <div class="name">
        <p><%=  alert.user.full_name %></p>
        <%= link_to("Find out more", task_path(alert.task)) %>
      </div>
      <p><%=  alert.task.title %></p>
      <% if alert.problem == true %>
        <div class="status">
          <p>Client has an issue!</p>
          <%= link_to("Mark As Resolved", notification_path(alert), method: :delete) %>
        </div>
      <% else %>
        <div class="status">
          <p>Confirmed meeting</p>
          <%= link_to("Mark As Resolved", notification_path(alert), method: :delete) %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
