<%
  dot_colours = {
    "Medical" => "#ccaa50",
    "Legal" => "#4DA1A4",
    "Employment" => "#71140C"
  }
%>

<div class="calendar-header">
	<%= link_to tasks_path({date: date.last_month}) do %>
		<i class="fas fa-arrow-circle-left"></i>
	<% end %>

	<%= name_of_month(date) %> <%= year(date) %>

  	<%= link_to tasks_path({date: date.next_month}) do %>
		<i class="fas fa-arrow-circle-right"></i>
	<% end %>
</div>
<div class="calendar-body">

	<% month_tasks = tasks_hash(date, tasks) %>

	<div class="calendar-table">
		<div class="calendar-row-header">
			<div>S</div>
			<div>M</div>
			<div>T</div>
			<div>W</div>
			<div>Th</div>
			<div>F</div>
			<div>S</div>
		</div>
		<% days_array(date).each_slice(7) do |week| %>
			<div class="calendar-row">
				<% week.each do |day| %>
          <!-- Build a link that routes to clients show page for that day based on whether or not the number of the date exists in that month -->
          <% if (day.present? && current_user.admin) && controller_name == "clients" %>
            <div class="<%= day_classes(date, day) %>">
              <div class="date">
                <%= day %>
              </div>
              <div class="task-icons">
                <% if month_tasks.key?(day) %>
                  <% month_tasks[day].each do |task| %>
                    <i class="fas fa-circle" style="color: <%= dot_colours[task.goal.category.name] %>;"></i>
                  <% end %>
                <% end %>
              </div>
            </div>
          <!-- Build a link that routes to calendar show page for that day based on whether or not the number of the date exists in that month -->
          <% elsif day.present? && current_user.admin %>
            <%= link_to task_path(day, date: date.change(day: day)) do %>
  					<div class="<%= day_classes(date, day) %>">
  						<div class="date">
  							<%= day %>
  						</div>
  						<div class="task-icons">
  							<% if month_tasks.key?(day) %>
  								<% month_tasks[day].each do |task| %>
  									<i class="fas fa-circle" style="color: <%= dot_colours[task.goal.category.name] %>;"></i>
  								<% end %>
  							<% end %>
                <% if day_classes(date, day).include?("today") %>
                    <i class="fas fa-circle" style="color: white;"></i>
                <% end %>
  						</div>
  					</div>
            <% end %>
          <% else %>
            <div class="<%= day_classes(date, day) %>">
              <div class="date">
                <%= day %>
              </div>
              <div class="task-icons">
                <% if month_tasks.key?(day) %>
                  <% month_tasks[day].each do |task| %>
                    <i class="fas fa-circle" style="color: <%= dot_colours[task.goal.category.name] %>;"></i>
                  <% end %>
                <% end %>
              </div>
            </div>
          <% end %>
				<% end %>
			</div>
		<% end %>
	</div>
</div>

