<%
  dot_colours = {
    "Medical" => "#ccaa50",
    "Legal" => "#4DA1A4",
    "Employment" => "#71140C"
  }
%>

<div class="calendar-header">


  <% if controller_name == "tasks"%>
	  <%= link_to tasks_path(date: date.last_month, filter: @filter) do %>
    <i class="fas fa-arrow-circle-left"></i>
      <% end %>
  <% elsif controller_name == "clients" && controller.action_name == "show" %>
    <%= link_to client_path(user: @user, date: date.last_month, filter: @filter) do %>
    <i class="fas fa-arrow-circle-left"></i>
      <% end %>
  <% elsif controller_name == "clients" %>
    <%= link_to clients_path(date: date.last_month, filter: @filter) do %>
    <i class="fas fa-arrow-circle-left"></i>
      <% end %>
  <% end %>
	

	<%= name_of_month(date) %> <%= year(date) %>

  	<% if controller_name == "tasks"%>
      <%= link_to tasks_path(date: date.next_month, filter: @filter) do %>
      <i class="fas fa-arrow-circle-right"></i>
      <% end %>
    <% elsif controller_name == "clients" && controller.action_name == "show" %>
      <%= link_to client_path(user: @user, date: date.next_month, filter: @filter) do %>
      <i class="fas fa-arrow-circle-right"></i>
      <% end %>
    <% elsif controller_name == "clients" %>
      <%= link_to clients_path(date: date.next_month, filter: @filter) do %>
    
    	   <i class="fas fa-arrow-circle-right"></i>
      <% end %>
    <% end %>
</div>
<div class="calendar-body">

	<% month_tasks = tasks_hash(date, tasks) %>

	<div class="calendar-table">
		<div class="calendar-row-header">
			<div>S</div>
			<div>M</div>
			<div>T</div>
			<div>W</div>
			<div>Th</div>
			<div>F</div>
			<div>S</div>
		</div>
		<% days_array(date).each_slice(7) do |week| %>
			<div class="calendar-row">
				<% week.each do |day| %>
          <% if day.present? && current_user.admin %>
            <% if controller_name == "tasks" %>
              <%= link_to task_path(day, date: date.change(day: day)) do %> 
                 <!--- HERE -->
      					<div class="<%= day_classes(date, day) %>">
      						<div class="date">
      							<%= day %>
      						</div>
      						<div class="task-icons">
      							<% if month_tasks.key?(day) %>
      								<% month_tasks[day].each do |task| %>
      									<% if task.completed %>

                          <i class="fas fa-check" style="color: <%= dot_colours[task.goal.category.name] %>; font-size: 15px; margin-top: 2px;"></i>
                        <% elsif task.start.nil? %>
                          <i class="far fa-circle" style="color: <%= dot_colours[task.goal.category.name] %>; font-size: 15px; margin-top: 2px;"></i>
                        <% else %>
                          <i class="fas fa-circle" style="color: <%= dot_colours[task.goal.category.name] %>;font-size: 15px; margin-top: 2px;"></i>
                        <% end %>
      								<% end %>
      							<% end %>
      						</div>
      					</div>
              <% end %>
            <% elsif controller_name == "clients" && controller.action_name == "show" %>
              <%= link_to client_path(@user, date: date.change(day: day)) do %> 
                 <!--- HERE -->
                <div class="<%= day_classes(date, day) %>">
                  <div class="date">
                    <%= day %>
                  </div>
                  <div class="task-icons">
                    <% if month_tasks.key?(day) %>
                      <% month_tasks[day].each do |task| %>
                        <% if task.completed %>

                          <i class="fas fa-check" style="color: <%= dot_colours[task.goal.category.name] %>; font-size: 15px; margin-top: 2px;"></i>
                        <% elsif task.start.nil? %>
                          <i class="far fa-circle" style="color: <%= dot_colours[task.goal.category.name] %>; font-size: 15px; margin-top: 2px;"></i>
                        <% else %>
                          <i class="fas fa-circle" style="color: <%= dot_colours[task.goal.category.name] %>;font-size: 15px; margin-top: 2px;"></i>
                        <% end %>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              <% end %>
            <% end %>
          <% else %>
            <a href='#<%= day %>'>
              <div class="<%= day_classes(date, day) %>">
                <div class="date">
                  <%= day %>
                </div>
                <div class="task-icons">
                  <% if month_tasks.key?(day) %>
                    
                      <% month_tasks[day].each do |task| %>
                        <i class="fas fa-circle" style="color: <%= dot_colours[task.goal.category.name] %>;"></i>
                      <% end %>
                    
                  <% end %>
                </div>
              </div>
            </a>
          <% end %>
				<% end %>
			</div>
		<% end %>
	</div>
</div>

