<div class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="height: 90vh; margin-top: 40px">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="Modal-header">Add a user profile</h2>
        <h4 class="modal-title" id="myModalLabel"></h4>
      </div>
      <div class="modal-body">
          <%= simple_form_for @new_user, url: "/clients", html: { id: 'modal-labels' } do |f| %>
            <% if @new_user.errors.any? %>
              <div class="errors-container">
                <ul>
                  <% @new_user.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>

            <%= f.input :first_name %>
            <%= f.input :last_name %>
            <%= f.input :avatar, label: "Photo"%>
            <hr>
            <%= f.input :email %>
            <%= f.input :password %>
            <hr>
            <%= f.input :age %>
            <%= f.input :nationality %>
            <%= f.input :language %>
            <%= f.input :address %>

            <%= f.button :submit, "Create Client Profile", class: "btn btn-success submit" %>
          <% end %>
      </div>
    </div>
  </div>
</div>
