<h2><%= @record.title %></h2>

<div class="grid">
  <div class="client-container">
    <div class="client-banner"><%= @record.title %></div>

    <img src="<%= @record.attachment %>" height="200" width="200">

    <div class="client-banner"><h1>Employment</h1></div>
    <img src="<%= @record.photo %>" width="200" height="200">

<div class="client-records-downloaded-documents">The following document is available: </div>
  <div class="Document">

    </div>
  </div>
  <%= render 'shared/client-controller' %>
</div>
