<div class="grid">
  <div class="client-container-login">
    <div class="backgound-image">
    <div class="client-login-card">
    <div class="logo-login">
      <%= image_tag("asyla-logo_white.png", :alt => "Asyla Logo") %>
    </div>

    <div class="client-login-info">
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs">
        <%= f.input :email,
                    label: false,
                    required: false,
                    autofocus: true,
                    input_html: { placeholder: "Email", autocomplete: "email" }%>

        <%= f.input :password,
                    label: false,
                    required: false,
                    input_html: { placeholder: "Password", autocomplete: "current-password" } %>
        <%# f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>
    </div>

    <div class="form-actions">
        <%= f.button :submit, "Log in" %>
    </div>
      <% end %>


  <div class="client-signup-login-signup">
    <%= render "devise/shared/links" %>
  </div>
  </div>
  </div>
 </div>
</div>
