<%
  border_classes = {
    "Medical" => "gold-border",
    "Legal" => "teal-border",
    "Employment" => "red-border"
  }
%>

  <% next_tasks = appointments_this_week(tasks) %>


  <% next_tasks.each do |task_array| %>
      <% task = task_array[0] %>


      <div class='card-appointment <%= task.goal.category.name %>'>
        <div class="card-appointment-date <%= border_classes[task.goal.category.name] %>">
          <% if task_array[1] == 0 %>
            <h4 class="date-number green">Today</h4>
          <% else %>
            <p class="date-day">In</p>
            <h4 class="date-number <%= "red" if task_array[1] <= 3 %>" ><%= task_array[1] %></h3>
            <p class="date-day"><%= task_array[1] == 1 ? "day" : "days" %></p>
          <% end %>
        </div>
        <div class="card-appointment-details">
          <h4><%= task.title %></h4>
          <p class="card-appointment-details-text"><%= task.deadline.strftime("%l:%M %P") %></p>
          <p class="card-appointment-details-text"><%= task.deadline.strftime("%A, %B %-d") %></p>
          <a href="#" class="card-appointment-details-link"></a>
        </div>
        <div class="card-appointment-button">
          <i class="fas fa-arrow-circle-down"></i>
          <i class="fas fa-arrow-circle-up hidden"></i>
        </div>
      </div>

            <div class="appointment-show-container" <%= @map ? "" : "style=display:none;" %> >
        <div class="card-appointment-show">
          <p class="card-appointment-show-title">Name:</p>
          <p class="card-appointment-show-content"><%= task.title %></p>
        </div>
        <div class="card-appointment-show ">
          <p class="card-appointment-show-title">Category: </p>
          <p class="card-appointment-show-content"><%= task.goal.category.name %></p>
        </div>

        <div class="card-appointment-show">
          <p class="card-appointment-show-title">Location:</p>
          <div class="card-appointment-show-button">
            <%= link_to map_tasks_path(task_id: task.id) do %>
               <i class="fas fa-map-marked-alt"></i>
               <p class="card-appointment-show-content"><%= task.address %></p>
            <% end %>
          </div>
        </div>

        <div class="card-appointment-show">
          <p class="card-appointment-show-title">Details: </p>
          <p class="card-appointment-show-content"><%= task.details %></p>
        </div>

        <div class="card-appointment-show">
          <p class="card-appointment-show-title">Attachments: </p>
          <%= link_to(records_path) do %>
            <i class="far fa-envelope" style="margin-right: 10px;"></i>
          <% end %>
          <% if task.records.size > 0 %>
            <p><%= task.records.size %> View all</p>
          <% else %>
            <p> No Attachments</p>
          <% end %>
        </div>
        <div class="border-appointment"></div>


        <div class="card-appointment-show">
          <p class="card-appointment-show-title">Response</p>
          <div class="card-appointment-show-response">

            <%= link_to notifications_path(problem: true, user_id: current_user.id, task_id: task.id), method: :post do %>
            <button class="btn btn-success attending"><i id="attending" class="fas fa-check"></i></button>
            <% end %>
            <%= link_to notifications_path(problem: false, user_id: current_user.id, task_id: task.id), method: :post do %>
            <button class="btn btn-success conflict"><i id="conflict" class="fas fa-question"></i></button>
            <% end %>
          </div>
        </div>
      </div>

  <% end %>
