<%
  border_classes = {
    "Medical" => "gold-border",
    "Legal" => "teal-border",
    "Employment" => "red-border"
  }
%>

  <% month_tasks = tasks_hash(date, tasks) %>


  <% month_tasks.keys.sort.each do |day| %>

    <div class="banner-card-appointment ">
      <p><%= day %> <%= name_of_month(date) %></p>
    </div>


    <% month_tasks[day].each do |task| %>

      <div class="card-appointment <%= task.goal.category.name %>">

        <div class="card-appointment-date <%= border_classes[task.goal.category.name] %>">
          <p class="date-day"><%= task.deadline.strftime("%A") %></p>
          <h3 class="date-number"><%= day %></h3>
        </div>
        <div class="card-appointment-details">
          <h4><%= task.title %></h4>
          <p class="card-appointment-details-text"><%= task.deadline.strftime("%l:%M %P") %></p>
          <p class="card-appointment-details-text"><%= task.deadline.strftime("%A, %B %-d") %></p>
          <a href="#" class="card-appointment-details-link"></a>
        </div>
        <div class="card-appointment-button">
          <i class="fas fa-info-circle"></i>
          <i class="fas fa-arrow-circle-up hidden"></i>
        </div>
      </div>


      <div class="appointment-show-container" style="display: none;">
        <div class="card-appointment-show">
          <p class="card-appointment-show-title">Name:</p>
          <p class="card-appointment-show-content"><%= task.title %></p>
        </div>
        <div class="card-appointment-show ">
          <p class="card-appointment-show-title">Category: </p>
          <p class="card-appointment-show-content"><%= task.goal.category.name %></p>
        </div>

        <div class="card-appointment-show">
          <p class="card-appointment-show-title">Location:</p>
          <div class="card-appointment-show-button">
            <%= link_to map_tasks_path(task_id: @tasks.last.id) do %>
               <i class="fas fa-map-marked-alt"></i>
               <p class="card-appointment-show-content"><%= task.address %></p>
            <% end %>
            <i class="far fa-calendar-alt hidden"></i>
          </div>
        </div>

        <div class="card-appointment-show">
          <p class="card-appointment-show-title">Details: </p>
          <p class="card-appointment-show-content"><%= task.details %></p>
        </div>

        <div class="card-appointment-show">
          <p class="card-appointment-show-title">Attachments: </p>
          <i class="far fa-envelope"></i>
        </div>
      <div class="border-appointment"></div>


        <div class="card-appointment-show">
          <p class="card-appointment-show-title">Response</p>
          <div class="card-appointment-show-response">

            <button class="btn btn-danger">Cancel</button>
            <button class="btn btn-success attending">Attending</button>
            <%= link_to notifications_path(problem: false, user_id: current_user.id, task_id: task.id), method: :post do %>
            <button class="btn btn-success conflict">Conflict in schedule</button>
            <% end %>
            <%= link_to notifications_path(problem: true, user_id: current_user.id, task_id: task.id), method: :post do %>
            <button class="btn btn-success attending">Attending</button>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
