<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Asyla | Saving Time, Saving Lives</title>
    <%= favicon_link_tag('https://res.cloudinary.com/dtmuylvrr/image/upload/v1552057308/logo_vector-01.png')%>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>

    <link rel='stylesheet' type='text/css' href='//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css'/>

  </head>
  <body>
    <% render 'shared/navbar' %>
    <% render 'shared/flashes' %>
     <%#= Lines 13-14 are the Le Wagon navbar. Edited out for client view. %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
